@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400&display=swap");
:root {
  --color-background-body: #292727;
  --color-particle-fill: #1b1a1a;
  --color-ring-stroke: #a0a0a075;
}

.theme-brad {
  --color-background-body: #f6f5de;
  --color-particle-fill: #be6701;
  --color-ring-stroke: #100;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background-body);
  height: 100vh;
  overflow: hidden;
}

.ring-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.ring {
  overflow: hidden;
  width: 120vh;
  height: 120vh;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  position: relative;
}

.slogan {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  color: black;
  text-transform: uppercase;
}

.slogan-svg * {
  stroke-dasharray: 1000;
  stroke-width: 2;
  stroke: white;
  -webkit-animation: dash 3s linear;
          animation: dash 3s linear;
}

.slogan-text {
  position: absolute;
  left: 50%;
  top: 60%;
  font-size: 36px;
  line-height: 140%;
  max-width: 400px;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}

.slogan-text span {
  border-bottom: 1px solid #ffffff;
  font-weight: 300;
}

@-webkit-keyframes dash {
  from {
    stroke-width: 1;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-width: 2;
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-width: 1;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-width: 2;
    stroke-dashoffset: 0;
  }
}

.atom {
  width: 200vw;
  height: 200vh;
}

.nucleus {
  fill: var(--color-particle-fill);
  stroke: var(--color-particle-fill);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: nucleus-pulse 2s infinite ease-in-out alternate;
          animation: nucleus-pulse 2s infinite ease-in-out alternate;
}

.electron {
  fill: var(--color-particle-fill);
  stroke: var(--color-particle-fill);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: rotate 10s infinite linear, electron-pulse 1s infinite ease-in-out alternate;
          animation: rotate 10s infinite linear, electron-pulse 1s infinite ease-in-out alternate;
}

.ring {
  stroke: var(--color-ring-stroke);
  -webkit-animation: ring-width 1s infinite ease-in-out alternate;
          animation: ring-width 1s infinite ease-in-out alternate;
}

.ring:nth-of-type(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.ring:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.ring:nth-of-type(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.ring:nth-of-type(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.ring:nth-of-type(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.ring:nth-of-type(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.ring:nth-of-type(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.ring:nth-of-type(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.ring:nth-of-type(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.ring:nth-of-type(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.ring:nth-of-type(11) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.ring:nth-of-type(12) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.ring:nth-of-type(13) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.ring:nth-of-type(14) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.ring:nth-of-type(15) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.ring:nth-of-type(16) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.ring:nth-of-type(17) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.ring:nth-of-type(18) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.ring:nth-of-type(19) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.ring:nth-of-type(20) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes ring-width {
  0% {
    stroke-width: 15;
  }
  100% {
    stroke-width: 2;
  }
}

@keyframes ring-width {
  0% {
    stroke-width: 15;
  }
  100% {
    stroke-width: 2;
  }
}

@-webkit-keyframes nucleus-pulse {
  0% {
    stroke-width: 0;
  }
  100% {
    stroke-width: 12;
  }
}

@keyframes nucleus-pulse {
  0% {
    stroke-width: 0;
  }
  100% {
    stroke-width: 12;
  }
}

@-webkit-keyframes electron-pulse {
  0% {
    stroke-width: 6;
  }
  100% {
    stroke-width: 3;
  }
}

@keyframes electron-pulse {
  0% {
    stroke-width: 6;
  }
  100% {
    stroke-width: 3;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.theme-switch-btn {
  position: absolute;
  top: 0;
  left: 0;
  background: #808080;
  color: #fff;
  border: 0;
  padding: 0.5rem;
  text-transform: lowercase;
  cursor: pointer;
}

.theme-switch-btn:focus {
  outline: 4px solid #fff;
}

.head {
  width: 100%;
  padding: 0 40px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-nav ul li {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 20px;
  list-style: none;
}
/*# sourceMappingURL=app.css.map */