<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Devokin</title>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K24FFZN');</script>
<!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K24FFZN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div id="app">

    <h1> Test Form </h1>

    <form @submit.prevent="onSubmit">

      <input v-model="contact.firstName" type="text" name="email">
      <input v-model="contact.lastName" type="text" name="email">
      <input v-model="contact.email" type="text" name="email">
      <textarea v-model="contact.message" id="" cols="30" rows="10"></textarea>

      <button>Send Email</button>

    </form>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    // const axios = require('axios').default;
    // import axios from 'axios'

    var app = new Vue({
      el: '#app',
      data: {
        contact: {
          firstName: 'Alex',
          lastName: 'Burykin',
          email: 'alexstudinskiy@i.ua',
          message: 'Hey, i have a project :D'
        }
      },
      methods: {
        onSubmit() {
          axios.post('/api/subscribe', { contact: this.contact }).then(res => {
            console.log(res);
          }).catch(err => {
            console.log(err);
          });
          console.log(this.email);
        }
      }
    })

    // axios.post('/api/subscribe')
  </script>
</body>

</html>
