<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Devokin</title>
</head>

<body>

  <div id="app">

    <h1> Test Form </h1>

    <form @submit.prevent="onSubmit">

      <input v-model="contact.firstName" type="text" name="email">
      <input v-model="contact.lastName" type="text" name="email">
      <input v-model="contact.email" type="text" name="email">
      <textarea v-model="contact.message" id="" cols="30" rows="10"></textarea>

      <button>Send Email</button>

    </form>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    // const axios = require('axios').default;
    // import axios from 'axios'

    var app = new Vue({
      el: '#app',
      data: {
        contact: {
          firstName: 'Alex',
          lastName: 'Burykin',
          email: 'alexstudinskiy@i.ua',
          message: 'Hey, i have a project :D'
        }
      },
      methods: {
        onSubmit() {
          axios.post('/api/subscribe', { contact: this.contact }).then(res => {
            console.log(res);
          }).catch(err => {
            console.log(err);
          });
          console.log(this.email);
        }
      }
    })

    // axios.post('/api/subscribe')
  </script>
</body>

</html>
